.navbar {
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
    height: 56px;
    position: sticky;
    z-index: 999;
    top: 0;
    .left {
      display: flex;
      align-items: center;
      gap: 20px;
  
      span {
        color: #0758c1;
        font-weight: 700;
        font-size: 22px;
      }
      .search {
        display: flex;
        gap: 10px;
        align-items: center;
        border: 1px solid lightgray;
        padding: 3px 3px;
        border-radius: 5px;
  
        input {
          background-color: transparent;
          border: none;
          outline: none;
          width: 100%;
          height: 100%;
          width: 440px;
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      gap: 20px;
      background-color: #fff;
        
      .info{
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 8px;

      }
      .info:hover{
        cursor: pointer;
        background-color: #f0e4e4  ;
      }
      img {
        width: 32px;
        height: 28px;
        border-radius: 50%;
        margin-right: -10px;
        object-fit: cover;
      }
      span {
        font-weight: 500;
      }
    }
  }