.latest-transactions-container {
  flex: 7;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 
  table {
    margin-top: 10px;
    // border-collapse: collapse;
    border-spacing: 20px;
    width: 100%;
    th {
      text-align: left;
    }
    .first-td {
      display: flex;
      align-items: center;
      gap: 5px;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .status {
      padding: 6px 8px;
      border-radius: 10px;
      border: none;
    }
    .status.Delivered {
      background-color: #f3fbf7;
      color: #9fe4a8;
    }
    .status.Declined {
      background-color: #fff5f8;
      color: #ff94aa;
    }
    .status.Pending {
      background-color: #f4eaed;
      color: #ff6e8f;
    }
    .status.Accept {
      background-color: #8ab1ef;
      color: rgb(246, 242, 250);
    }
    .status.Cancel {
      background-color: rgb(191, 89, 89);
      color: #fff;
      cursor: none;
    }
  }
}
